.register1{
    text-align: center;
    margin-top: 50px;
}
.register2 input,.register2 select{
    margin-top: 20px;
}
.register2{
    text-align: center;
}
.form-control{
    background-color: #eccb681e;
}
.submit{
    margin-top: 30px;
    margin-bottom: 20px;
}
.submit input[type="submit"]{
    border: 0;
    background-color: #ff7f50;
    color: white;
    text-align: center;
    font-weight: bolder;
    border-radius: 15px!important;
}
.submit input[type="submit"]:hover{
    background-color: #f5ab91;
}

@media only screen and (max-width: 1000px) {
    .navbar{
        z-index: 2;
        position: relative;
    }
    .register1{
         bottom:80px; right:40px;
    }
    .form-control{
        width: 90%;
        margin-left: 20px;
    }
}
